<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/bootstrap_img/diabetes_FJl_icon.ico">

    <title>Diabetes Management Tracker</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap_css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Diabetes Management Tracker</a>
      <input class="form-control form-control-light w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="input">
                  <span data-feather="plus-circle"></span>
                  Record New Event!
                </a>
              </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Timeframe</span>
              <a class="d-flex align-items-center text-muted" href="#">
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current Week
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last Week
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last Month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-to-date
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">My Weekly Key Data</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

          <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

          <h2>Recorded Data</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Date & Time</th>
                  <th>Data Type</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                  <!--Where is patient_details coming from?-->
                  {% for detail in patient_details %}
                      <tr>
                        <td>{{detail.date}}</td>
                        <td>{{detail.data_type}}</td>
                        <td>{{detail.value}}</td>
                      </tr>
                  {% endfor %}




                <!--<tr>-->
                  <!--<td><span id="bg_time"></span></td>-->
                  <!--<td>Blood Glucose</td>-->
                  <!--<td>{{ patient_details.glucose_ }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td><span id="c_time"></span></td>-->
                  <!--<td>Carbohydrate Intake</td>-->
                  <!--<td>{{ patient_details.carbs_ }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td><span id="i_time"></span></td>-->
                  <!--<td>Insulin Dosage</td>-->
                  <!--<td>{{ patient_details.insulin_ }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td><span id="e_time"></span></td>-->
                  <!--<td>Exercise</td>-->
                  <!--<td>{{ patient_details.exercise_ }}</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>Tue Apr 02 2019</td>-->
                  <!--<td>Carbohydrate Intake</td>-->
                  <!--<td>50 mg</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>Tue Apr 02 2019</td>-->
                  <!--<td>Insulin Dosage</td>-->
                  <!--<td>5 units</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>Tue Apr 02 2019</td>-->
                  <!--<td>Blood Glucose</td>-->
                  <!--<td>6.7 mmol/L</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>Tue Apr 02 2019</td>-->
                  <!--<td>Carbohydrate Intake</td>-->
                  <!--<td>30 mg</td>-->
                <!--</tr>-->
                <!--<tr>-->
                  <!--<td>Tue Apr 02 2019</td>-->
                  <!--<td>Insulin Dosage</td>-->
                  <!--<td>3 units</td>-->
                <!--</tr>-->
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../static/bootstrap_js/popper.min.js"></script>
    <script src="../static/bootstrap_js/bootstrap.min.js"></script>

    <!-- Date & Time -->
    <script>
      var today = new Date;
      document.getElementById('bg_time').innerHTML = today.toDateString();
    </script>

    <script>
      var today = new Date;
      document.getElementById('c_time').innerHTML = today.toDateString();
    </script>

    <script>
      var today = new Date;
      document.getElementById('i_time').innerHTML = today.toDateString();
    </script>

    <script>
      var today = new Date;
      document.getElementById('e_time').innerHTML = today.toDateString();
    </script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    <!-- Graphs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                datasets: [{
                  label: 'Blood Glucose (mg/dL)',
                  backgroundColor: 'transparent',
                  borderColor: 'rgb(211, 78, 78)',
                  data: [100, 150, 120, 200, 126, 138, {{ patient_details.glucose_ }}],
                }, {
                  label: 'Insulin Dosage',
                  backgroundColor: 'transparent',
                  borderColor: 'rgb(4, 247, 25)',
                  data: [2, 2, 2, 1, 1, 2, {{ patient_details.insulin_ }}],
                }, {
                  label: 'Carb Intake (g)',
                  backgroundColor: 'transparent',
                  borderColor: 'rgb(12, 86, 206)',
                  data: [60, 70, 70, 150, 100, 20, {{ patient_details.carbs_ }}],
                }, {
                  label: 'Exercise (time)',
                  backgroundColor: 'transparent',
                  borderColor: 'rgb(174, 23, 234)',
                  data: [60, 0, 0, 30, 60, 90, {{ patient_details.exercise_ }}],
                }]
            },

            // Configuration options go here
            options: {}
        });
    </script>
  </body>
</html>
5