<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/bootstrap_img/diabetes_FJl_icon.ico">

    <title>Diabetes Tracker on FHIR</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap_css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/bootstrap_css/dashboard.css" rel="stylesheet">
  </head>
<!-- Default form contact -->
<body>
   <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Diabetes Tracker on FHIR</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/login">Sign out</a>
        </li>
      </ul>
    </nav>
<div class = "container">
    <div class = "row">
        <div class="col-md 5 mx-auto">
            <form class="text-center border border-light p-5" method = "POST" action = "/dashboard">
                <br>
                <div class = container>
                    <h1>Start Tracking, <b>{{ username }}</b>!</h1>
                <p>Use this form to start tracking your <em>daily</em> diabetic information.</p>
                <!-- Subject -->
                <!--<label><h6>Let's start with the time of day</h6></label>-->
                <!--<select class="browser-default custom-select mb-4">-->
                    <!--<option value="1">Morning (Breakfast)</option>-->
                    <!--<option value="2">Mid-Day (Lunch)</option>-->
                    <!--<option value="3">Evening (Dinner)</option>-->
                    <!--<option value="4">Other (Snack)</option>-->
                <!--</select>-->

                <!-- Blood Glucose Level-->
                <label><h6>Enter your blood glucose level (mg/dL)</h6>
                </label>
                <input type="text" name = "glucose" id="defaultContactFormGlucose" class="form-control mb-4" placeholder="Blood Glucose Level. e.g., 120 mg/dL">

                <!-- Carbohydrates Consumed -->
                <label><h6>And how many carbs you've eaten (in grams)</h6></label>
                <input type="text" name = "carbs" id="defaultContactFormCarbs" class="form-control mb-4" placeholder="Carbohydrates Consumed. e.g., 30 grams">

                <!-- Insulin Dosage -->
                <label><h6>How much insulin have you taken? (units)</h6></label>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <h5 class=flashes>
                    {% for message in messages %}
                    <h5><strong>{{ message }}</strong></h5>
                    {% endfor %}
                </h5>
                {% endif %}
                {% endwith %}
                {% block body %}{% endblock %}
                <input type="text" name = "insulin" id="defaultContactFormInsulinDose" class="form-control mb-4" placeholder="Insulin Dose. e.g., 30 units">

                <!-- Exercise -->
                <label><h6>Any exercise? (in minutes)</h6></label>
                <input type="text" name = "exercise" id="defaultContactFormExercise" class="form-control mb-4" placeholder="Exercise Performed. e.g., 30 minutes">

                <!-- Message -->
                <div class="form-group">
                    <label><h6>Finally, describe how you're feeling.</h6></label>
                    <textarea name = "note" class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Symptoms. e.g., lightheadeness, weakness, etc."></textarea>
                </div>

                <!-- Send button -->
                <button class="btn btn-info btn-block" type="submit">Submit!</button>
            </form>
        </div>
    </div>
</div>
</body>